.node-icon.fa-database {
  color: #15AABF;
}

.node-icon.fa-server {
  color: #3F80A3;
}

.node-icon.fa-clipboard-list {
  color: #FBAC5F
}

.node-icon.fa-table {
  color: #BDDDEE;
}

.node-icon.fa-columns {
  color: #67BDE1;
}
