<div class="app-container">
  <div class="left-side">
    <app-tree [treeRootsList]="treeRootsList" (expandedNode)="onExpandNode($event)"
              (selectedNode)="onSelectedNode($event)"></app-tree>
  </div>
  <div class="right-side">
    <div class="selected-node-container" *ngIf="currentSelectedNode">
      Selected Node - {{currentSelectedNode.nodeDisplayName}} : {{currentSelectedNode.data | json}}
    </div>
    <br/><br/>
    <div class="expanded-node-container" *ngIf="currentExpandedNode">
      Expanded Node - {{currentExpandedNode.nodeDisplayName}} : {{currentExpandedNode.data | json}}
    </div>
  </div>
</div>
